h1 {
  text-align: center;
  text-decoration: underline;
  display: block;
  color: #135866;
}

body {
  background-color: #ffeeb1;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-family: Bellefair, serif;
}

.img-responsive {
  border-radius: 50%;
  display: inline-block;
  margin-left: 10%;
  margin-top: 5%;
  height: 80%;
  width: 80%;
}

.bio {
  background-color: #7886ad;
  border-radius: 12px;
  border: 4px dashed #135866;
  color: #ffeeb1;
}

.left {
  margin-top: 25px;
  color: #ffeeb1;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}

#map {
  height: 35%;
  width: 50%;
  margin-left: 25%;
  border-radius: 2%;
}

table {
  background-color: #7886ad;
  color: #ffeeb1;
  margin-top: 33%;
  border-radius: 3%;
  border: 2px solid #135866;
  border-collapse: separate;
}

th {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}

td {
  width: 50%;
  padding-top: 25px;
  border: 1px solid #135866;
  font-size: 16px;
  border-radius: 3%;
}

#aristotle {
  text-decoration: underline;
  color: #ffeeb1;
}

#graph {
  height: 50%;
  width: 50%;
  margin:2% 25%;
  border-radius: 50%;
  border: 3px solid #135866;
}

#right {
  background-color: #7886ad;
  border: none;
}

nav {
  background-color:#7886ad;
  width: 100%;
  height:100%; 
  margin-top:15px;
  border:1px solid #135866;
  border-radius:5px;   
}

#links {   
  color:#7886ad;
}

.icon-bar {
  background-color:#ffeeb1;
}

.navbar-right li a:hover {
  background-color:transparent;  
}

.navbar-right li a:visited {
  background-color:transparent;
  
}

